body {font-family: 'DM Serif Display', serif;
}
h1{ 
   font-size: 40px;
   font-style: normal ;
   font-display: meadium;
color: darksalmon;
}
.orange-color{ 
color:orangered
}
.flexible-container{ 
display: flex;
margin-bottom: 10px;
}
.half-width{
   width: 80%;
   padding-left: 3%;
   padding-right: 10%;
   padding-block: 5%;
}
.p{ 
    font-display: half;
    font-variant: normal;
    font-style: normal;
    font-size: 80px;
}
.half-width image{ 
    width: 200%;
    }

 .link-buttton{ 
        padding: 20px,30px;
        background-color: tomato;
        color: white;
        border-radius: 5px;  
        padding-block: 5px;
        }
        
        